[Unit]
Description=This service will synchronize the SHOWCast Output ISC folder with the public folder
After=multi-user.target

[Service]
ExecStart=/home/geonetcast/Scripts/showcast_output_remote_sync.sh

[Install]
WantedBy=default.target
